<div class="forms">
<% if current_user.comments.count > 0 %>
  <div class="forms">
    <h3>Your Comments</h3>
    <table>
      <thead>
        <tr>
          <th>Restaurant Name</th>
          <th>Comment</th>
          <th>Restaurant Link</th>
        </tr>
      </thead>
      <tbody>
  <% current_user.comments.each do |comment| %>
    <tr class="rows">
      <td><%= comment.restaurant.name %></td>
      <td><%= comment.body %></td>
      <td><%= link_to comment.restaurant.name, comment.restaurant %></td>
    </tr>
  <%end%>
  </tbody>
  </table><br><br>
  </div>
<% else %>
  <div class="forms">
    <h3>Please write some comments to see your comments list</h3>
  </div>
<% end %>



<% if current_user.favorites.count > 0 %>
<div class="forms">
  <h3>Your Favorites</h3>
  <table>
    <thead>
      <tr>
        <th>Remove Favorite</th>
        <th>Restaurant Name</th>
        <th>Restaurant Link</th>
      </tr>
    </thead>
    <tbody>
  <% current_user.favorites.each do |favorite| %>
          <tr class="rows">
            <td><%= link_to 'Remove Favorite', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= favorite.restaurant.name %></td>
            <td><%= link_to favorite.restaurant.name, favorite.restaurant %></td>
          </tr>
  <%end %>
  </tbody>
</table><br><br>
</div>
<% else %>
  <div class="forms">
    <h3>Please add a favorite to see your favorites list</h3>
  </div>
<% end %>



<% if current_user.votes.count > 0 %>
<h3>Your Votes</h3>
<table>
  <thead>
    <tr>
      <th>Will Split</th>
      <th>Won't Split</th>
      <th>Restaurant Name</th>
      <th>Restaurant Link</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.votes.each do |vote| %>
      <tr class="rows">
        <td>vote.upvote</td>
        <td>vote.downvote</td>
        <td>vote.restaurant.name</td>
        <td>link_to vote.restaurant.name, vote.restaurant</td>
      </tr>
    <%end %>
  </tbody>
</table>
<% else %>
<div class="forms">
  <h3>Please vote to see your voting history</h3>
</div>
<% end %><br><br>


  <p>
    <%= link_to "<button>Back</button>".html_safe, url_for(:back) %>
    <%= link_to "<button>Index</button>".html_safe, restaurants_url %>
  </p>
</div>
