<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> currently prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <br>
    <%= form.text_field :name, size: 25 %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <br>
    <%= form.text_area :location, id: :resturant_location, rows: 10, cols: 40 %>
  </div>

  <div class="field">
    <%= form.label :upvotes, 'Will split the check' %>
    <%= form.hidden_field :upvotes, :value => restaurant[:upvotes] += 1%>
    <br>
    <%= form.submit 'upvote' %>
  </div>

  <div class="field">
    <%= form.label :downvotes, 'Will not split the check' %>
    <%= form.hidden_field :downvotes, :value => restaurant[:downvotes] += 1%>
    <br>
    <%= form.submit 'downvote' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
