<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Will Split</th>
      <th>Won't Split</th>
      <th>Restaurant Details</th>
      <th>Edit Restaurant</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr class="rows">
        <td><%= restaurant.name %></td>
        <td><%= restaurant.location %></td>
        <td><%= restaurant.upvotes %></td>
        <td><%= restaurant.downvotes %></td>
        <td><%= link_to 'Details', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
