<% if notice %>
  <br>
    <aside class="notice"><%= notice %></aside>
  <br>
<% end %>
<br>



<table>
  <thead>
    <tr>
      <th>Name (Edit)</th>
      <th>Location</th>
      <th>Will Split</th>
      <th>Won't Split</th>
      <th></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr class="rows">
        <td><%= link_to restaurant.name, edit_restaurant_path(restaurant) %></td>
        <td><%= restaurant.location %></td>
        <td><%= restaurant.upvotes %></td>
        <td><%= restaurant.downvotes %></td>
        <td><%= link_to 'Vote', restaurant %></td>
      </tr>
    <% end %>
  </tbody>
</table><br><br>

<div class="search">
  <%= form_for :restaurant, url: search_path, html: {class: "form-inline"} do |f|%>
    <div class="search-group">
      <%= f.text_field :name, value: params[:restaurant].try(:[], :name),
      class: 'form-control', placeholder: 'Search By Name'%>
      <%= f.text_field :location, value: params[:restaurant].try(:[], :location),
      class: 'form-control', placeholder: 'Search By Location'%>
      <%=f.submit 'Search', class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>

<br>

<div class="links">
  <%= link_to 'New Restaurant', new_restaurant_path %>
</div>
