<% if notice %>
  <br>
  <aside id="notice"><%= notice %></aside>
  <br>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name (Edit)</th>
      <th>Location</th>
      <th>Will Split</th>
      <th>Won't Split</th>
      <th></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr class="rows">
        <td><%= link_to restaurant.name, edit_restaurant_path(restaurant) %></td>
        <td><%= restaurant.location %></td>
        <td><%= restaurant.upvotes %></td>
        <td><%= restaurant.downvotes %></td>
        <td><%= link_to 'Vote', restaurant %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
