<div class="search">
  <%= form_for :restaurant, url: search_path, html: {class: "form-inline"} do |f|%>
    <div class="search-group">
      <%= f.text_field :name, value: params[:restaurant].try(:[], :name),
      class: 'form-control', placeholder: 'Search By Name'%>
      <%= f.text_field :location, value: params[:restaurant].try(:[], :location),
      class: 'form-control', placeholder: 'Search By Location'%>
      <%=f.submit 'Search', class: 'btn btn-primary'%>
    </div>
  <% end %>
</div><br>

<table>
  <thead>
    <tr>
      <th>Name <% if user_signed_in? %>(Edit / Comment) <% end %></th>
      <th>Location</th>
      <th>Will Split Total</th>
      <th>Won't Split Total</th>
      <th></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr class="rows">
        <% if user_signed_in? %>
          <td><%= link_to restaurant.name, edit_restaurant_path(restaurant) %></td>
        <% else %>
        <td><%= restaurant.name %></td>
        <% end %>
        <td><%= restaurant.location %></td>
        <td style= 'text-align: center'><%= restaurant.upvotes %></td>
        <td style= 'text-align: center'><%= restaurant.downvotes %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Vote / Favorite', restaurant %></td>
          <td><%= link_to 'Comment', new_comment_path(:restaurant_id => restaurant.id, :user_id => current_user.id) %></td>
        <% else %>
          <td><%= link_to 'View', restaurant %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table><br><br>

<br>

<div class="links">
  <p>
  <%= link_to "<button>Back</button>".html_safe, url_for(:back) %>
  <% if user_signed_in? %>
    <%= link_to "<button>New Restaurant</button>".html_safe, new_restaurant_path %>
  <% end %>
  </p>
</div>
