<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @vote.restaurant %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
