<!DOCTYPE html>
<html>
  <head>
    <title>SplitTheCheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <body>
    <div class="user_nav">
      <% if current_user%>
        Hello, <%= current_user.email %>
        <button><%=link_to "Log out", destroy_user_session_path, method: :delete %></button>
      <% else %>
        <button><%= link_to "Log in", new_user_session_path %></button>
        <button><%= link_to "Sign up", new_user_registration_path %></button>
      <% end %>
    </div>
    
    <header>
      <h1>Split The Check</h1>
      <h3>Where should we eat next?</h3>
    </header>

    <main class='<%= controller.controller_name %>'>
      <%= yield %>
    </main>
  </body>
</html>
